<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorator="layouts/main">
<head>
<title th:text='#{pagetitle.forgotten_password}'>Online nyelvtanulás - Elfelejtett jelszó</title>
</head>
<body>
	<div layout:fragment="pageContent">
		<form name="forgotten_password" th:action="@{/for_pass}" th:object="${user}" method="post" class="form-signin">
			<div id="result" th:if="${result} == 'not_exists'" class="alert alert-danger">Nem létezik regisztráció ilyen email címmel</div>
			<div id="result" th:if="${result} == 'empty_email'" class="alert alert-danger">Nem lehet a megadott email cím üres</div>
			<h2 class="form-signin-heading">Email cím megadása</h2>
		 	    <input type="text" id="email" name="username" th:field="*{email}" class="form-control" placeholder="E-mail cím"  /> 
		 	    <br/>
			<button class="btn btn-lg btn-primary btn-block" type="submit">Jelszó visszaállítása</button>
		</form>
	</div>
</body>
</html>