<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" layout:decorator="layouts/main">
<head>
<title>Online nyelvtanulás - Elfelejtett jelszó aktiválás</title>
</head>
<body>
	<div layout:fragment="pageContent">
		<form name="forgotten_password_activation" th:action="@{/for_pass_activation}" th:object="${user}" method="post" class="form-signin">
			<div id="result" th:if="${result} == 'empty_email'" class="alert alert-danger">Nem lehet a megadott email cím üres</div>
			<div id="result" th:if="${result} == 'invalid_activation_code'" class="alert alert-danger">Ez a hivatkozás már nem érvényes</div>
			<div id="result" th:if="${result} == 'error_in_password_change'" class="alert alert-danger">Hiba lépett fel a jelszó változtatása során</div>
			<div id="result" th:if="${result} == 'two_password_not_equals'" class="alert alert-danger">A két jelszó nem egyezik</div>
			<div th:if="${result} != 'invalid_activation_code'">
				<h2 class="form-signin-heading">Jelszó megadása</h2>
		 	    <input type="text" id="email" name="username" th:field="*{email}" class="form-control disabled" placeholder="E-mail cím" value="${user.email}"/>
			    <input type="password" id="password" name="password" th:field="*{password}" class="form-control" placeholder="Jelszó" required="true" />
			    <input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Jelszó újra" required="true" />
			    <input type="hidden" id="activation" name="code" th:field="*{activation}" class="form-control"/>
		 	    <br/>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Új jelszó beállítása</button>
			</div>
			<div th:unless="${result} != 'invalid_activation_code'">
				<br/>
				<a href="/login">Vissza a főoldalra</a>
				<br/>
			</div>
		</form>
	</div>
</body>
</html>